{% extends 'buscador/base.html' %}
{% block content %}
	<div class="container">
		<h1>
		¿Quienes somos?
		</h1>
		<div class="container">
			<p> Somos una pagina que se dedica a mantener un catalogo actualizado de animalitos que buscan amor</p>
		</div>
		<h2> Mision </h2>
		<div class="container">
			<p> buscamos hacer una pagina para reunir a dueños y macotas; y hacer conciencia acerca de los animales abandonados</p>
		</div>
		<h2> Vision </h2>
		<div class="container">
			<p> Queremos un mundo donde las mascotas sean queridos y no haya animales abandonados y donde las mascotas no sean un peligro para sus dueños </p>
		</div>
		<h2> Datos de contacto </h2>
		<div class="container">
			<p> Telefono: 11-68-11-08 </p>
			<p> Direccion </p>
		</div>
	</div>
{% endblock %}